@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Indie+Flower&family=Ole&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.ole-regular {
    font-family: "Ole", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
  }

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --BGCOLORPRIMARYRED: #ff0800;
}

a {
    color: black;
}

body {
    padding: 0 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.h1 {
    padding: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.tagline {
    font-size: 1.5rem;
}

.title {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.h1 img {
    transform: scaleX(-1);
}

.menu-nav {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    margin: 1.5rem 0;
    background-color: lightgray;
    border-radius: 5px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    list-style: none;
}

.menu-item {
    text-align: center;
    white-space: nowrap; /* Prevents items from wrapping */
    cursor: pointer;
}

.nav-link {
    padding: 1rem;
}

.day-of-week {
    width: 9ch;
}

.month-day {
    display: flex;
    gap: .5rem;
}

li {
    list-style-type: none;
}

.time {
    margin-left: auto;
}

.active {
    background-color: var(--BGCOLORSECONDARYORANGE);
    background-color: var(--BGCOLORPRIMARYRED);
    color: white;
    padding: 1rem;
}

.current-day-temperature {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.thermometer {
    display: flex;
}

.thermometer img {
    transform: rotate(5deg);
}

/* Things to do page start */

.activity {
    border-bottom: 1px solid var(--BGCOLORSECONDARYORANGE);
    padding: 1rem 0;
}

.activity-header {
    display: flex;
    gap: 1rem;
}

.activity-description {
    margin-top: 1rem;
    line-height: 1.5;
}

.activity-info {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.activity-business {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.activity-type {
    font-weight: bold;
    font-size: 1.25rem;
}

/* Things to do page end */

/* Event page start */

.event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-month {
    font-size: 1.25rem;
}

.event-weekday {
    font-size: small;
}

.event {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
} 

.event-description {
    margin-top: .5rem;
}

.event-location {
    margin-top: .5rem;
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.event-button {
    font-size: small;
    border: none;
}

.event-details {
    display: none;
}

/* Event page end */


/* Todays weather */

.todays-weather {
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
    border: 3px solid var(--BGCOLORSECONDARYORANGE);
    margin-bottom: 1rem;
    border-radius: 5px;
}

.conditions {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.degree {
    font-size: 2rem;
    font-weight: bold;
}

.temp {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.temp-image {
    display: block;
}

/* 
button {
    margin-top: .5rem;
    padding: .25rem;
    cursor: pointer;
    background-color: var(--BGCOLORSECONDARYORANGE);
    color: white;
    border: none;
    border-radius: 5px;
} */

/* button:hover {
    background-color: #45a049;
} */

.weather-container {
    border-radius: 5px;
    margin-bottom: 1rem;
    pointer-events: none;
}

  /* button {
    padding: .5rem .25rem;
    cursor: pointer;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
  } */
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .call-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

/* Today page start */

.todays-news {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: none;
}

.news-type {
    background-color: #DCDCDC;
    background-color: #00F7FF;
    background-color: #93bffe;
    background-color: #f5d6d5;
    background-color: #ff0800;
    color: white;
    padding: .25rem .5rem;
    width: fit-content;
    border-radius: 8px 0 0 0;
}

.news-header {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .5rem 0;
    padding: .5rem;
}

.news-header p:last-child {
    margin-left: auto;
    font-size: small;
    text-wrap: nowrap;
}

.news-description {
    padding: 0 0 .5rem .5rem;
    font-size: small;
    line-height: 1.25rem;
}

.news-location-container {
    display: flex;
    flex-direction: column;
    background-color: #DCDCDC;
    background-color: #e6e6e6;
    padding: .5rem;
    border-radius: 0 0 8px 8px;
}

.news-location {
    font-size: small;
}

.news-location-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-group img {
    display: block;
}

.address-box {
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
}

/* Today page end */

.advertisement {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.ad-header {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .25rem .5rem;
    background-color: purple;
    width: fit-content;

}

.advertisement h3 {
    margin: .5rem 0;
    padding: 0 .5rem;
}

.ad-description {
    padding: 0 .5rem;
}

.ad-image-purple {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
    height: 200px;
    margin: .5rem 0;
    padding: none;
}

.ad-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .news-header {
    display: flex;
    gap: .5rem;
    margin: .5rem 0;
    padding: .5rem;
} */

